@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


img {
    aspect-ratio: 4 / 5;
    height: 250px;
    
    border-radius: 6px;
}

.Card1 {
    background-color: #E8F3F5;
}

h1, h2, h3, p {
    font-family: Lora;
}